/* Body */
/* Fonts */
/* Colors */
/* Header */
/* Main */
main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
/* Player Articles */
article,
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Game Section */
